body {
    background-color: mediumspringgreen;
}
div.container {
    display: contents;
}
div.container > form{
    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 40px;
}